<!doctype html>
<html>
<head>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js"> </script>
<script src = "http://code.jquery.com/jquery-1.7.2.min.js"> </script>
<meta charset="utf-8">
<style>
/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 160px;
    text-align: left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover 
{
    background-color: rgba(0,255,0,0.6);
    z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

@font-face
{
	font-family: GoTFont;
	src: url(srcImg/GoTFont.ttf);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}	

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: GoTFont;
}

li a:hover:not(.active) {
	background-color: #111;
	color: #EBDE36;
}

.active {
    background-color: #4CAF50;
}
body {
	display: block;
	width: 1000px;
	background-color: #333344;
	margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #4CAF50}
tr:hover{background-color: yellow;}

th {
    background-color: #4CAF50;
    color: white;
}



#banner{
	display: block;	
}

#userinput{
    color: white;
}

homecontent{
	display: block;
	align-self: center;
	background-image: url(srcImg/used.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 900px;
	height: 200px;
	text-align: left;
	position: relative;
	left: 50px;
	vertical-align: middle;
	font-family: GoTFont;
	font-size: 36px;
	color: #;
	color: #ABABAB;
}
</style>
<title>A Winner Is Coming</title>
</head>
</html>


<html>
<img src="srcImg/test.jpg" width="1000" height="200" alt="" id="banner"/>
<body>
<ul>
  <li><a href="/">Home</a></li>
  <li><a class="active" href="/history">History</a></li>
  <li><a href="/statistics">Statistics</a></li>
  <li><a href="/updateMenu">Update</a></li>
</ul>
<br>

<div id = "userinput">
    Email: <input type = "text" id = "email">
    <div class = "dropdown">
      <button id="title" class="dropbtn">Select Bets</button>
      <div class="dropdown-content">
        <a onclick ="TitleUpdate('All')">All</a>
        <a onclick ="TitleUpdate('Death')">Death</a>
        <a onclick ="TitleUpdate('Throne')">Throne</a>
        <a onclick ="TitleUpdate('Resurrect')">Resurrect</a>
      </div>
    </div>
</div>
 <button id = "submit" onclick = "updatePage()">Submit Query</button>
<br>
<br>

<canvas id="myChart" width="400" height="400"></canvas>

<div style="overflow-x:auto;">
<table>
</table>
</div>
<br>


<script>
function TitleUpdate(target) 
{
    document.getElementById("title").innerHTML = target;
}

function changeDisplayedHistory(historyOption, email) {
    $.ajax({
        url: "/obtainBetHistory",

        data: {
            option: historyOption,
            email: email
        }, 

        type: "POST",

        dataType : "json",
        })
        .done(function(data) {
            modifyPageContents(data);
        })
        .fail(function( xhr, status, errorThrown ) {
            alert( "Sorry, there was a problem!" );
            console.log( "Error: " + errorThrown );
            console.log( "Status: " + status );
            console.dir( xhr );
        });
}
</script>


<div>
<script>
function modifyPageContents(arr) {
    var tab, tr, td, tn, row, col;
    var moneyArr = [];

    tab = document.getElementsByTagName('table')[0];

    // Remove old stuff and add headers for columns
    tab.innerHTML = "";
    tr = document.createElement('tr');
    td = document.createElement('td');
    tn = document.createTextNode('Email');
    td.appendChild(tn);
    tr.appendChild(td);
    td = document.createElement('td');
    tn = document.createTextNode('Bet Type');
    td.appendChild(tn);
    tr.appendChild(td);
    td = document.createElement('td');
    tn = document.createTextNode('Option Name');
    td.appendChild(tn);
    tr.appendChild(td);
    td = document.createElement('td');
    tn = document.createTextNode('Book Bet On');
    td.appendChild(tn);
    tr.appendChild(td);
    td = document.createElement('td');
    tn = document.createTextNode('Money Bet');
    td.appendChild(tn);
    tr.appendChild(td);
    td = document.createElement('td');
    tn = document.createTextNode('Status');
    td.appendChild(tn);
    tr.appendChild(td);
    td = document.createElement('td');
    tn = document.createTextNode('Money Result');
    td.appendChild(tn);
    tr.appendChild(td);

    tab.appendChild(tr);

    for (row = 0; row < arr.length; row++)
    {
        // Create row
        tr = document.createElement('tr');
        // Add name
        td = document.createElement('td');
        var name = document.createTextNode(arr[row][0]);
        td.appendChild(name);
        tr.appendChild(td);

        // Add bet type
        td = document.createElement('td');
        var betType = document.createTextNode(arr[row][1]);
        td.appendChild(betType);
        tr.appendChild(td);

        // Add option name
        td = document.createElement('td');
        var opt = document.createTextNode(arr[row][2]);
        td.appendChild(opt);
        tr.appendChild(td);

        // Add book number
        td = document.createElement('td');
        var amt = document.createTextNode(arr[row][3]);
        td.appendChild(amt);
        tr.appendChild(td);

        // Add bet amount
        td = document.createElement('td');
        var bookNo = document.createTextNode(arr[row][4]);
        td.appendChild(bookNo);
        tr.appendChild(td);     

        // Determine bet status
        td = document.createElement('td');
        var betType = arr[row][1];
        var description = arr[row][5];
        var status;
        if(description == betType) { // bet won
            status = "win";
        }
        else if(description == null) {
            status = "pending";
        }
        else {
            status = "loss";
        }
        var statNode = document.createTextNode(status);
        td.appendChild(statNode);
        tr.appendChild(td);  

        // Determine winnings
        var earnings = 0.00;
        if(status == "win") {
            var odds = arr[row][6];
            var betAmount = parseFloat(arr[row][4]);
            earnings = betAmount * odds + betAmount;
            moneyArr.push(earnings);
        }
        else if(status == "loss"){
            var betAmount = arr[row][4];
            earnings = 0 - (betAmount);
            moneyArr.push(earnings);
        }

        td = document.createElement('td');
        tn = document.createTextNode(earnings);
        td.appendChild(tn);
        tr.appendChild(td);


        tab.appendChild(tr);
    }

    modifyChart(moneyArr);
}
</script>
<script>
function modifyChart(moneyArr) {
    var ctx = document.getElementById("myChart");

    var matchingIndexArr = [];
    for (var i = 0; i < moneyArr.length; i++)
    {
        matchingIndexArr.push(i + 1)
    }

    var arr = [];
    arr.push(matchingIndexArr);
    arr.push(moneyArr);

    var color = new Array(arr[0].length);
    for(var i = 0; i < arr[1].length; i++)
    {
        if(arr[1][i] >= 0)
            color[i] = 'rgba(0,255,0,0.4)';
        else
            color[i] = 'rgba(255,0,0,0.4)';
    }

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: arr[0],
            datasets: [{
                label: 'Payoffs',
                data: arr[1],
                backgroundColor: color,
                borderColor: color,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    barPercentage: 0.2
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
}

</script>
<script>
    function validateInput(email) {
      var emailRegex = new RegExp(".+@.+\..+");
      return email.match(emailRegex);
    }

    function updatePage() {
        var historyOption = document.getElementById("title").innerHTML;
        if(historyOption == "Select Bets") {
            alert('Select which bets to display!');
            return;
        }
        var email = document.getElementById("email").value;
        if(!validateInput(email)) {
            alert('Email must be of form blah@blah.com, try again.');
        }
        else {
            var returned = changeDisplayedHistory(historyOption, email);
        }
    }

    window.onload = function() {
        document.getElementById("email").value = "email@email.com";
    }
</script>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

</body>
</html>
