<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta name="generator" content="Google Web Designer 1.6.0.0429">
  <style type="text/css" id="gwd-text-style">
    p {
      margin: 0px;
    }
    h1 {
      margin: 0px;
    }
    h2 {
      margin: 0px;
    }
    h3 {
      margin: 0px;
    }
  </style>
  <style type="text/css">
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    body {
      transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-style: preserve-3d;
      background-color: transparent;
    }
    .gwd-p-34uu {
      position: absolute;
      width: 639px;
      height: 133px;
      left: 296px;
      top: 209px;
    }
    .gwd-span-17am {
      font-size: 46px;
    }
  </style>
</head>

<body>
  <p class="gwd-p-34uu"><span class="gwd-span-17am">
<!--   <%= 
  # require_relative 'testEndToEnd.rb'
  # func(client)
  %> -->
  
  <form action="/addStark" method="post">
    Email: <input type="text" name="email">
    <br/>
    Base: <input type="text" name="bet">
    <br/>
    <input type="submit">
  </form>

</span><br>
    
  </p>
</body>

</html>