<!doctype html>
<html>
<head>
<meta charset="utf-8">
<style>
@font-face
{
	font-family: GoTFont;
	src: url(../srcImg/GoTFont.ttf);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}	

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	  font-family: GoTFont;
}

li a:hover:not(.active) {
	background-color: #111;
	color: #EBDE36;
}

.active {
    background-color: #4CAF50;
}
body {
	display: block;
	width: 1000px;
	background-color: #333344;
	margin: 0 auto;
}

#banner{
	display: block;	
}

#form{
	align-self: center;
	color: white;
		
}

.betbutton{
	position: relative;
	top: 75px;
	float: right;
}
</style>
<title>A Winner Is Coming</title>
</head>
</html>


<html>
<img src="../srcImg/test.jpg" width="1000" height="200" alt="" id="banner"/>
<body>
<ul>
  <li><a href = "/">Home</a></li>
  <li><a href="/history">History</a></li>
  <li><a href="/statistics">Statistics</a></li>
  <li><a href="/updateMenu">Update</a></li>
</ul>

<br>
<div id = "content">
  <form name = "delete" action="/performDeleteEvent" method="post" id = "form">
    Name (*mandatory): <br>
    <input type="text" name="name">
    <br>
    Event Type - death, resurrect, or throne (*mandatory): <br>
    <input type="text" name="eventType">
    <br>
    Book Event Occurred (*mandatory): <br>
    <input type="text" name="bookNo">
    <br>


    <input type="submit" name = "submit">
  </form>

<script>
    function isPositiveInt(num) {
      return num != "" && num > 0 && !isNaN(num) && num % 1 == 0
    }

    var element = document.querySelector("form");
    element.addEventListener("submit", function(event) {
      var name = document.forms["delete"]["name"].value;
      var eventType = document.forms["delete"]["eventType"].value
      var bookNo = document.forms["delete"]["bookNo"].value;

      if(name == "" || !isNaN(name)) {
        event.preventDefault();
        alert('Please enter a valid name.');
      }
      if(eventType != "death" && eventType != "resurrect" && eventType != "throne") {
        event.preventDefault();
        alert('Please enter a valid event type.');
      }
      if (!isPositiveInt(bookNo)) {
        event.preventDefault();
        alert('Book number must be a valid positive integer, try again.');
      }
    })
  </script>
</div>

</body>
</html>
